 //reset slick slider css
 .slick-prev {
     left: -20px !important;
     z-index: 100;
     height: 48px !important;
     width: 44px !important;
     border: 2px solid #d7d7d7 !important;
     background: #fff !important;
     &:hover {
         background: #d7d7d7 !important;
     }
 }
 
 .slick-prev:before {
     // content: "\f060" !important;
     font-family: FontAwesome !important;
     color: red !important;
 }
 
 .slick-next {
     right: -10px !important;
     top: 50% !important;
     height: 48px !important;
     width: 44px !important;
     border: 2px solid #d7d7d7 !important;
     background: #fff !important;
     &:hover {
         background: #d7d7d7 !important;
     }
 }
 
 .slick-next:before {
     // content: "\e258" !important;
     font-family: FontAwesome !important;
     color: red !important;
 }
 
 .section-share {
     font-family: 'Courier New', Courier, monospace;
     &.section-products {
         background-color: #f5f5f5;
     }
     &.section-about {
         height: 500px !important;
         border-top: 1px solid #f5f5f5;
         border-bottom: 1px solid #f5f5f5;
     }
     .section-body {
         .section-customize {
             position: relative;
             .bg-image {
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-color: #eee;
                 width: 320px;
                 height: 300px;
                 cursor: pointer;
                 &.bg-translucent {
                     opacity: 0.5;
                 }
                 &.section-outstanding-bg {
                     background-image: url('../../assets/outstanding/banchay1.jpg');
                 }
             }
             .content-bg {
                 display: flex;
                 font-size: 15px;
                 font-family: 'Courier New', Courier, monospace;
                 // width: 320px;
                 justify-content: space-around;
                 margin-top: 5px;
                 font-weight: 600;
                 .title-image {
                     cursor: pointer;
                     text-transform: uppercase;
                     &:hover {
                         color: rgb(100, 8, 81);
                     }
                     &.title-out-of-stock {
                         color: red;
                         text-decoration: line-through;
                     }
                 }
             }
         }
     }
 }
 
 .section-share {
     height: 450px;
     .section-container {
         margin: 0 100px;
         display: flex;
         flex-direction: column;
         .section-header {
             height: 60px;
             margin-bottom: 20px;
             padding-top: 30px;
             .title-section {
                 font-size: 20px;
                 font-weight: 600;
             }
             .btn-section {
                 float: right;
                 padding: 10px 15px;
                 border: none;
                 outline: none;
                 display: block;
                 background: #ebebeb;
                 color: black;
                 cursor: pointer;
                 text-transform: uppercase;
                 &:hover {
                     color: #777;
                     background: #f7d800;
                 }
             }
         }
     }
 }
 
 // Home footer
 .home-footer {
     text-align: center;
     padding-top: 8px;
     a {
         text-decoration: none;
     }
 }
 
 // About 
 .section-about {
     padding: 0 125px;
     .section-about-header {
         padding: 20px 10px;
         font-size: 20px;
         font-weight: 600;
     }
     .section-about-content {
         display: flex;
         gap: 50px;
         width: 100%;
         .content-left {
             width: 60%;
         }
         .content-right {
             width: 40%;
             display: flex;
             justify-content: center;
             align-items: center;
             font-size: 16px;
             font-style: italic;
             color: #565656;
         }
     }
 }